/*Full width content section*/ 

.span-12-t {
    background-image: url("../imgs/bl_pat.png") ;
    color: white; 
    padding: .1em;
    margin-bottom: -1em;  
}

header img {
    float: left;
    padding: .2em;
    width: 10%;
    clear: both;
}

.span-4-t { 
    background-color: black; 
    border-left: 1pt dotted silver;
    color: white;
    display: none;
    line-height: 2em;
    padding: 4%;  
    text-align: left;
}

/*Blog aside*/
h1 {
    color: white;
    display: inline-block;
    font-family: 'Anonymous Pro', ;
    font-size: 2.4em;
/*    padding: .5em;
*/    text-align: left;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 2em;
    margin-top: .5em;
    margin-bottom: 0em;
    text-shadow: 3px 3px 3px silver;
}
h3 {
    font-family: 'Anonymous Pro', ;
    font-size: 1.5em;
    line-height: 1em;
    text-align: left;
}

h4 { 
    color: teal;
    font-family: 'Anonymous Pro', ;
    font-size: 1.2em;
    /*text-shadow: 1px 1px 1px silver;*/
}

    
h5 {
    color: darkslategray;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 0em;
    margin-bottom: 0em;
}
/*Social media linked icons*/
aside div img {
    background-color: black;
    height: 2em;
    padding: .5em;
}

/*Color around contact info*/
.contact {
    background-color: black;
    padding: 1em;
}

